page-login {

  .loginContentBg{
      background-image: url('../assets/icon/loginbg.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

  }

  .no-padding {
    margin-right: 0px !important;
    float:right;
  }

  .color-white{
    color:#FFFFFF;
  }

  .transparent-control {
    background-color: transparent;

  }

  //Vertically align center the grid content
  ion-grid {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .button-white {
    background: #ffffff;
    color:#0D9C80;
    border-radius: 0px;
    moz-border-radius: 0px;
    webkit-border-radius: 0px;
    transition: all 0.3s ease 0s;
    font-family: "GothamRounded";
  }

  .button-white:active {
    background: #0D9C80;
    color:#FFF;
    font-family: "GothamRounded";
  }
  .button-white:hover {
    background: #0D9C80;
    color:#FFF;
    font-family: "GothamRounded";
  }

  .italic-text{
    font-style: italic;
  }
}
