page-login {

.loginContentBg{
    background-image: url('../assets/icon/loginbg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.no-padding {
  margin-right: 0px !important;
  float:right;
}
.color-white{
  color:#FFFFFF;
}

.transparent-control {
  background-color: transparent;
  width:80%;
}

.md ion-list > .item:last-child,
.md ion-list > .item-wrapper:last-child .item,
.wp ion-list > .item:last-child,
.wp ion-list > .item-wrapper:last-child .item,
.ios ion-list > .item:last-child,
.ios ion-list > .item-wrapper:last-child .item {
    border-bottom: none;
}

.button-white {
  background: #ffffff;
  color:green;
  border-radius: 0px;
  moz-border-radius: 0px;
  webkit-border-radius: 0px;
  transition: all 0.3s ease 0s;
}
.button-white:active {
  background: red;
}
.center {
  display: block;
  vertical-align: middle;
}
ion-grid {
    height: 58%;
    justify-content: center;
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top{
  margin-top: 100px !important;
}
.italic-text{
  font-style: italic;
}


}
