<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar>
    <!-- here z-index:-1 to resolve back button not working after making title in center as its hiding behind the title -->
    <ion-title style="z-index: -1" align-title="center"><p text-center class="primaryColor font-varelap">{{"PROFILE_HEADER" | translate}}</p></ion-title>


    <ion-buttons right >
      <button button ion-button icon-only>
        <image-icon imgUrl="url(assets/timer.png)"></image-icon>
      </button>
    </ion-buttons>

    <ion-buttons right >
      <button button ion-button icon-only clear>
        <ion-icon color="primary" name="md-more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item no-lines>
    <ion-avatar item-left>
      <img style="width: 100% !important;
    height : 100% !important;
    max-width: 85px !important;
    max-height: 85px !important;"
           [style.border]="'3px solid #0D9C80'"
           src ="{{name.image_url != null ? name.image_url  : 'assets/child_profile_default.png'}}">
    </ion-avatar>
    <ion-label class="font-varelap" color="primary">
      {{name.child_full_name}}
     <p style="font-size:1.2rem;color:#8c8c8c">{{name.child_place_of_residence}}</p>

      <p  class="primaryColor font-varelap" style="margin-top:10px;font-size: 1.2rem;">{{"BIRTHDAY" | translate}}: <span style="font-size:1.2rem;color:#8c8c8c">
        {{getBirthday(name.child_date_of_birth)}}</span></p>
    </ion-label>
  </ion-item>

  <ion-item no-lines text-wrap>
    <p class="font-varelap" style="font-size: 1.3rem;font-weight: bold;color: #7a7a7a">{{name.child_info}}
    </p>

  </ion-item>

  <ion-row style="text-align: center;">
    <ion-col>
      <div class="circle">
        <div class="font-varelap"> {{name.child_age}}</div>
        <span class="font-varelap">yrs</span>
      </div>
    </ion-col>

    <ion-col>
      <div class="circle">
        <div class="font-varelap">0h</div>
        <span class="font-varelap">0m</span>
      </div>
    </ion-col>

  </ion-row>

  <ion-item no-lines >
    <p> <span class="primaryColor font-varelap"> {{"ALLERGIC_TO" | translate}}:</span> {{name.allergies}}</p>
  </ion-item>



  <ion-item text-center no-lines padding-top>
    <p class="primaryColor font-varelap">{{"EMERGENCY_CONTACTS" | translate}}</p>
  </ion-item>

  <ion-row class="card-row" responsive-sm>
    <ion-col col-6 style="margin-right: -1rem!important;" *ngIf="name.guardian1_first_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col>
            <ion-item no-padding>
              <ion-avatar style="margin:0px;">
                <img src="assets/child_profile_default.png">
              </ion-avatar>
              <image-icon *ngIf="name.guardian1_gender==='M'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/boy.png)"></image-icon>
              <image-icon *ngIf="name.guardian1_gender==='V'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/girl.png)"></image-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{name.guardian1_first_name+" "+name.guardian1_last_name}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <p class="greyColor font-varelap text-size">{{name.guardian1_phone_numbers.cell}}</p>

            <p class="greyColor font-varelap card-name">{{name.guardian1_street}}<br> {{name.guardian1_city}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col col-6 style="margin-right: -1rem!important;" *ngIf="name.guardian2_first_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col>
            <ion-item no-padding>
              <ion-avatar style="margin:0px;">
                <img src="assets/child_profile_default.png">
              </ion-avatar>
              <image-icon *ngIf="name.guardian2_gender==='M'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/boy.png)"></image-icon>
              <image-icon *ngIf="name.guardian2_gender==='V'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/girl.png)"></image-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{name.guardian2_first_name+" "+name.guardian2_last_name}}</h4>
          </ion-col>

          <ion-col style="top:-10px">
            <p class="font-varelap text-size">{{name.guardian2_phone_numbers.cell}}</p>
            <p class="font-varelap card-name">{{name.guardian2_street}}<br> {{name.guardian2_city}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
