<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar>
    <!-- here z-index:-1 to resolve back button not working after making title in center as its hiding behind the title -->
    <ion-title style="z-index: -1" align-title="center"><p text-center class="primaryColor font-varelap">{{"PROFILE_HEADER" | translate}}</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item no-lines>
    <ion-avatar item-left>
      <img style="width: 100% !important;
    height : 100% !important;
    max-width: 85px !important;
    max-height: 85px !important;"
           [style.border]="'3px solid #0D9C80'"
        src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">
    </ion-avatar>
    <ion-label class="font-varelap" color="primary">
      {{name.child_full_name}}
     <p style="font-size:1.2rem;color:#8c8c8c">Brussels, Belgium</p>

      <p  class="primaryColor font-varelap" style="margin-top:10px;font-size: 1.2rem;">{{"BIRTHDAY" | translate}}:</p>
    </ion-label>
  </ion-item>

  <ion-item no-lines text-wrap>
    <p class="font-varelap" style="font-size: 1.3rem;font-weight: bold;color: #7a7a7a">Each list can include a header at the top of the list:
      Each list can include a header at the top of the list:
    </p>

  </ion-item>

  <ion-item no-lines >
    <p> <span class="primaryColor font-varelap"> {{"ALLERGIC_TO" | translate}}:</span> Tomatoes</p>
  </ion-item>

  <ion-row style="text-align: center;">
    <ion-col>
      <div class="circle">
        <div class="font-varelap"> 5</div>
        <span class="font-varelap">yrs</span>
      </div>
    </ion-col>
    <ion-col >
      <div class="circle">
        <div class="font-varelap">22</div>
        <span class="font-varelap">kgm</span>
      </div>
    </ion-col>

    <ion-col  >
      <div class="circle">
        <div class="font-varelap">124</div>
        <span class="font-varelap">cm</span>
      </div>
    </ion-col>
  </ion-row>

  <ion-item text-center no-lines padding-top>
    <p class="primaryColor font-varelap">{{"EMERGENCY_CONTACTS" | translate}}</p>
  </ion-item>

  <ion-row class="card-row" responsive-sm>
    <ion-col col-6 style="margin-right: -1rem!important;" *ngIf="name.guardian1_first_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col>
            <ion-item no-padding>
              <ion-avatar style="margin:0px;">
                <img src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">
              </ion-avatar>
              <image-icon item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(../../assets/boy.png)"></image-icon>            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{name.guardian1_first_name+" "+name.guardian1_last_name}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <p class="greyColor font-varelap text-size">9919506387</p>
            <p class="greyColor font-varelap card-name">M. Andre Dupont<br> Rue Du Cornet 6</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col col-6 style="margin-right: -1rem!important;" *ngIf="name.guardian2_first_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col>
            <ion-item no-padding>
              <ion-avatar style="margin:0px;">
                <img src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">
              </ion-avatar>
              <image-icon item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(../../assets/boy.png)"></image-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{name.guardian2_first_name+" "+name.guardian2_last_name}}</h4>
          </ion-col>

          <ion-col style="top:-10px">
            <p class="font-varelap text-size">9919506387</p>
            <p class="font-varelap card-name">M. Andre Dupont<br> Rue Du Cornet 6</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
