image-icon {
  div{
    width:25px;
    height: 25px;
    //background-color: #
    -webkit-mask-box-image:url('https://s-media-cache-ak0.pinimg.com/736x/41/1a/48/411a4835d38ff899e55ce2802b08329c.jpg');
  }

  .platform-android{
    background-color: #0D9C80;
  }
}
