<ion-header no-border xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml"
            xmlns:top="http://www.w3.org/1999/xhtml">

  <ion-navbar hideBackButton>
    <ion-title text-center > <p class="primaryColor">Home</p></ion-title>
    <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    </ion-buttons>

    <ion-buttons end padding-right>
      <button ion-button icon-only (click)="changeView(false)">
        <ion-icon color="primary" name="list"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end padding-left>
      <button ion-button icon-only (click)="changeView(true)">
        <ion-icon color="primary" name="grid"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar padding>

  <ion-input primary type="text" placeholder="Search Names" text-center name="title"></ion-input>

  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: #f8f8f8;">

  <ion-grid no-padding padding-top>
    <ion-row>
      <ion-col>
    <ion-note>
      <ion-icon name="sync" style="position: static; vertical-align: middle; font-size: x-large"></ion-icon>
      <span style="padding-left: 5px"> Synced 5 mins ago</span></ion-note>
      </ion-col>
    </ion-row>

    <!-- Grid view of kids list -->
    <ion-row *ngIf="isGrid" style="margin-left: -1rem!important;margin-right: -1rem;" responsive-sm>
      <ion-col col-6 col-lg-2 col-md-4 *ngFor="let names of childName" (click)="goToProfile(names.name)">
        <ion-card>
          <ion-row responsive-sm class="header">
            <ion-col col-10 col-md-10 col-sm-8 col-lg-8>
                  <ion-item no-padding>
                    <ion-avatar style="margin:0px;">
                      <img src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">

                      <span item-right style="position:absolute;bottom:0px;left: 4.6rem">
            <span style="font-size: 1.5rem; font-style: oblique;color:grey;">1h </span><ion-note style="font-size: 1rem">24m</ion-note></span>

                    </ion-avatar>

                  </ion-item>

            </ion-col>
            <ion-col>
               <ion-icon style="top: 1.4rem; color: #0D9C80;" name="timer"></ion-icon>
            </ion-col>

          </ion-row>

          <ion-row style="padding-left: 5px!important" responsive-sm>
            <ion-col col-12 style="top:0px">
              <h4 class="name">{{names.name}}</h4>
            </ion-col>

            <ion-col style="top:-10px">
              5 <span style="font-size: 0.8rem ; top: 0px">YEARS</span>
            </ion-col>
            <ion-col style="font-size:1.4rem;top:-10px">
              <ion-icon float-right color="grey" name="man"></ion-icon>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-col>
    </ion-row>

    <!-- List view of kids list -->
    <ion-row no-padding *ngIf="!isGrid">
      <ion-col col-12>
        <ion-list padding-top no-lines>

          <ion-item *ngFor="let names of childName" style="background-color: #f8f8f8;" (click)="goToProfile(names.name)">

            <ion-avatar item-left>
              <img src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">
            </ion-avatar>


            <h4 class="name">{{names.name}}</h4>
            <p float-left>5 <span style="font-size: 0.8rem ; top: 0px">YEARS</span></p>
            <div  float-right style="padding-right: 30%;"><span style="font-size: 1.5rem; font-style: oblique;color:grey;">1h </span><ion-note style="font-size: 1rem">24m</ion-note> </div>

            <ion-icon style="color: #0D9C80;" name="timer" item-right></ion-icon>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab  right bottom>
    <button ion-fab mini>+</button>
  </ion-fab>

</ion-content>

