page-kidslist {
  ion-input{
    background-color: #F1F1F1;
  }
  ion-label{
    font-size: small;
    color:grey;

  }
.icons{
  position:absolute;
  top:5px;
  right:16px;
  color: #0D9C80;
}
  .time{
    position:absolute;bottom:0;
    left:auto;
  }

  .name{
    color: #0D9C80; font-weight: bold;margin-bottom: 5px;
  }

  .years{

    font-size: 10px ;
    top: 0px;
  }

  .span-time{
   font-size: large;
    font-style: oblique;
    color:grey;
  }

  img.bottom{
    vertical-align: text-bottom;
  }

  .sync-icon{
    position: static;
    vertical-align: middle;
    font-size: x-large;
  }

  .child-row{
    margin-left: -1rem!important;
    margin-right: -1rem;
  }

  .hours{

    font-size: 1.5rem;
    font-style: oblique;
  }
  .time{
    position: absolute;
    bottom:0px;
    left: 4.6rem
  }

  .bottom-col{
    font-size:1.4rem;
    top:-10px;
  }

  .text-year{
    font-size: 0.9rem ;
    top: 0px;
  }

}


