<ion-header no-border xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml"
            xmlns:top="http://www.w3.org/1999/xhtml">

  <ion-navbar>
    <ion-title text-center > <p class="primaryColor font-varelap">HOME</p></ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <image-icon imgUrl="url(../../assets/menu.png)"></image-icon>
      </button>
    </ion-buttons>

    <ion-buttons right >
      <button button ion-button icon-only clear (click)="changeView(false)">
        <image-icon imgUrl="url(../../assets/list.png)"></image-icon>
      </button>
    </ion-buttons>

    <ion-buttons right >
      <button button ion-button icon-only (click)="changeView(true)">
          <image-icon imgUrl="url(../../assets/grid.png)"></image-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar padding>

  <ion-input primary type="text" placeholder="Search Names"  [value]="search"
             (input)="search = $event.target.value" text-center name="title"></ion-input>

  </ion-toolbar>
</ion-header>

<ion-content padding-left padding-right padding-bottom style="background-color: #f8f8f8;">


  <!-- Grid view of kids list -->
  <ion-grid no-padding >
    <ion-row>
      <ion-col style="vertical-align: middle">
    <ion-note>
      <image-icon float-left height="23px" width="23px" imgUrl="url(../../assets/sync.png)" color="lightgrey" (click)="createTodo()" ></image-icon>
      <span style="padding-left: 5px;font-family:'Varela Round';font-size: 1.3rem"> Synced 5 mins ago</span></ion-note>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isGrid" class="child-row" responsive-sm>
      <ion-col col-6 col-lg-2 col-md-4 *ngFor="let names of childList | filter:search" (click)="goToProfile(names)">
        <ion-card>
          <ion-row responsive-sm class="header">
            <ion-col col-10 col-md-10 col-sm-8 col-lg-8>
                  <ion-item no-padding>
                    <ion-avatar style="margin:0px;">
                      <img src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">                      <span item-right class="time">
                     <span class="hours">1h </span>
                        <ion-note style="font-size: 1rem">24m</ion-note>
                      </span>
                    </ion-avatar>
                  </ion-item>
            </ion-col>
            <ion-col>
              <image-icon class="icons" style="top: 1.4rem;" color="#7FCAC2" height="20px" width="20px" imgUrl="url(../../assets/timer.png)"></image-icon>
            </ion-col>
          </ion-row>

          <ion-row style="padding-left: 5px!important" responsive-sm>
            <ion-col col-12 style="top:0px">
              <h4 class="name">{{ names.child_first_name+" "+names.child_last_name}}</h4>
            </ion-col>

            <ion-col style="top:-10px">
            <span class="years"><span style="font-size: 1.3rem">{{calculateAge(names.child_date_of_birth)}} </span><span style="font-size: 0.9rem ; top: 0px">YEARS</span></span>
            </ion-col>
            <ion-col class="bottom-col">
              <span *ngIf="names.child_gender == 'M'">
              <image-icon float-right style="padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(../../assets/boy.png)"></image-icon>
            </span>
              <span *ngIf="names.child_gender == 'V'">
              <image-icon float-right style="padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(../../assets/girl.png)"></image-icon>
            </span>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- List view of kids list -->
    <ion-row no-padding *ngIf="!isGrid">
      <ion-col col-12>
        <ion-list padding-top no-lines>

          <ion-item *ngFor="let names of childList | filter:search" style="background-color: #f8f8f8;" (click)="goDetailsView(names)">

            <ion-avatar item-left>
              <img src="http://www.slate.com/content/dam/slate/articles/technology/data_mine/2013/09/130903_DATA_PrivacyAndKidsOnline.jpg.CROP.thumbnail-small.jpg">

            </ion-avatar>
            <image-icon item-left  *ngIf="names.child_gender == 'M'" style= "padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(../../assets/boy.png)"></image-icon>
            <image-icon item-left  *ngIf="names.child_gender == 'V'" style= "padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(../../assets/girl.png)"></image-icon>
            <image-icon item-left  *ngIf="names.child_gender == null" style= "padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(../../assets/girl.png)"></image-icon>

            <h4 class="name">{{ names.child_first_name+" "+names.child_last_name}}</h4>
            <p float-left> <span class="years"><span style="font-size: 1.2rem">{{calculateAge(names.child_date_of_birth)}} </span><span class="text-year">YEARS</span></span></p>
            <div  float-right style="padding-right: 30%;"><ion-note style="font-size: 1.5rem">1h 24m</ion-note> </div>
            <image-icon item-right color="#7FCAC2" imgUrl="url(../../assets/timer.png)"></image-icon>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab  right bottom>
    <button ion-fab mini>
      <image-icon height="18px" width="18px" color="#FFFFFF" imgUrl="url(../../assets/filter.png)">
      </image-icon></button>
  </ion-fab>

</ion-content>

